<p>Bandname: <%= @bandname.name %></p>
<p>Submitted by: <%= @bandname.submitter %></p>
<%= link_to 'Delete', bandname_path(@bandname), method: :delete, data: {confirm: 'Are You Sure?'} %>
<%= link_to "Edit", edit_bandname_path(:bandname_id) %>
